.contact-details-page{
    position: relative;
    left: 600px;
}
.contact-details {
    
    box-shadow: 5px 5px 5px 10px  #888888be;
    background-color: rgb(160, 226, 140);
    position: relative;
    padding-top: 10x;
    right: 100px;
    height: 500px;
    width: 450px;
    border-style: outset;
    border-radius: 15px;

}
.contact-details-image{
    max-width: 250px;
    border-radius: 150px;
}
.test{
    padding-top: 30px;
}

   .details-link{
        text-decoration: none;
        list-style: none;
        cursor: pointer;
        padding: 15px;
        color: rgb(10, 10, 10);
        font-size: x-large;
    }
.details-page-name{
    font-size: x-large;
    color: rgb(7, 64, 114);
}
.txt-details-page-afterlogin{
    font-size: large;
}
.movelist-container{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 

    // position: relative;
    // top: 60px;


}