.contact-details-page{
    position: relative;
    left: 400px;
}
.contact-details {
    background-color: rgb(160, 226, 140);
    position: relative;
    padding-top: 10x;
    right: 100px;
    height: 400px;
    width: 400px;
    border-style: outset;
    border-radius: 15px;

}
.contact-details-image{
    max-width: 250px;
    border-radius: 150px;
}
.test{
    padding-top: 30px;
}

