.movesList {}

.move-list-box{
    box-shadow: 5px 5px 5px 10px  #888888be;
    border-style: outset;
    width: 200px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 6px 12px;

}
.last3move{
    font-size: x-large;
    padding: 6px 12px;


}