.main-list{
    background-color: rgb(160, 226, 140);
    position: relative;
    top: 50px;
    left: 00px;
    height: 400px;
    width: 200px;
    border-style: outset;
    border-radius: 15px;
}
.list-container{
    top: 15px;
    position: relative;
    width: 170px;
    left: 25px;
    border-radius: 15px;
    // height: 400px;
}