.transferFund {}

.transfer-founds-container{
    box-shadow: 5px 5px 5px 10px  #888888be;
    position: absolute;
    top: 100px;
    left: 10px;
    background-color: aliceblue;
    border-style: inset;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    z-index: 999;
}