.bitcoin-chart {
   color: rgb(196, 64, 31);
   height: 100vh;
   position: relative;
}

.test11{
   color: rgb(236, 61, 30);
   height: 100px;
}
.line{
   position: absolute;
   top : 100px;
   right: 100px;
   width: 400px;
   height: 350px;
}
.bar{
   position: absolute;
   top :100px;
   left: 50px;
   width: 300px;
   height: 350px;
}