.bitcoin-chart {
   color: rgb(196, 64, 31);
   height: 110vh;
   position: relative;
}

.test11{
   color: rgb(236, 61, 30);
   height: 100px;
}
.line{
   position: absolute;
   top : 100px;
   right: 100px;
   width: 1400px;
   height: 550px;
}
.bar{
   position: absolute;
   right: 120px;
   bottom: -150px;
   // display: flex;
   // align-items: center;
   // justify-content: flex-start;
   width: 600px;
   height: 650px;
}