.home-page {
    text-align: center;
    background-color: rgb(160, 226, 140);
     position: relative;
     top: 50px;
    left: 100px;
    width: 200px;
    height: 400px;
    border-style: outset;
    border-radius: 15px;
}
.home-container{
    position: relative;
    top: 30px;
}
.coinImage{
    width: 100px
}
.home-image{
    width : 150px;
    border-radius: 100px;

}
